/*title*/     /* for all the nav bar title */
.title {
    margin: 40px 0;
}

.title-text {
    text-align: center;
    font-size: 40px;
    color: #e0e2db;
    font-style: italic;
    text-transform: uppercase;
}

.title-underline {
    width: 200px;
    border: 3px solid #e6af2e;
    margin: 0 auto;
}


/*filler contact */

#filler-contact  {
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
    
    url(images/Filter.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 60px;
    }

    #filler-contact h1 {
        font-size: 30px;
        text-transform: uppercase;
        color: #e0e2db;
        margin-bottom: 10px;
    }

    #filler-contact button {
        font-size: 30px;
        text-transform: uppercase;
        color: #e6af2e;
        border: 2px solid #e6af2e;
        padding: 10px 15px;
        background: transparent;
    }

    #filler-contact button:hover {
        background: #e6af2e;
        color: #191716;
    }

/* POST*/

#posts {
background: #beb7a4;
padding: 20px 0px 80px 0px;
}

.post-container {
max-width: 90vw;
margin: 0 auto;
}

.post-item {
background-color: #e0e2db;
color: #191716;
margin: 20px 0;
}

#posts img {
width: 100%;
display: block;

}

.img-container {
position: relative;
background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8));
}

.img-container .fa {
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
font-size: 50px;
color: opacity 4s;
transition: opacity 4s;
opacity: 0;
}

.img-container:hover img{
opacity: 0.4;
}

.img-container:hover .fa{
opacity: 1;
}

.text-container {
padding: 10px 5px 30px 5px;
}

.text-container p {
margin: 15px 0 25px 0;
}

.text-container a {
text-decoration: none;
font-size: 20px;
padding: 5px;
border: 2px solid #e6af2e;
color: #e6af2e;
margin-bottom: 20px;
}

.text-container a:hover {
background-color: #191716;
border-color: #191716;
}

@media screen and (min-width:576px){
.post-container {
display: grid;
grid-template-columns: repeat(2,1fr);
grid-column-gap: 1em;
grid-row-gap: 1em; 
}
}


@media screen and (min-width:992px){
.post-container {
display: grid;
grid-template-columns: repeat(3,1fr);
grid-column-gap: 1em;
grid-row-gap: 1em; 
}
}